{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "javascriptFormatting": "auto",
  "cssFormatting": "auto",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "noSpaceEmptyFunction": true,
  "spaceBeforeFunctionParen": true,
  "spaceInParens": true,
  "spaceInfixOps": true,
  "templateCurlySpacing": false,
  "arrayBracketSpacing": false,
  "objectCurlySpacing": false,
  "computedPropertySpacing": false,
  "spaceUnaryOps": true,
  "keywordSpacing": true
}
